<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /crushdex/app/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /crushdex/app/index.html [L]
</IfModule>
